<template name="form">
  <form>
    <div class="row">
      <div class="five columns">
        <input id="date" class="u-full-width" type="date" data-id="date">
      </div>
      <div class="six columns">
        <input id="amount" class="u-full-width" type="text" placeholder="Amount" data-id="amount">
      </div>
      <div class="one column">
        <button style="padding: 0;" class="u-full-width button button-primary"><i class="fa fa-plus fa-lg"></i></button>
      </div>
    </div>
  </form>
</template>
